$warning:#ffdd57;
$warning-dark:#b99f1c;
$warning-light:#FFFDF5;
$white:#fff;
$primary:#15038C;
$secondary:#DF0045;
$dark:#253840;
$success:#23d160;
$success-dark:#20b955;
$success-light:#F6FEF9;
$default:#1a1a1a;
$link:#3273dc;
$info:#209cee;
$info-dark:#2356a9;
$info-light:#F6FBFE;
$fairuz:#01597C;
$danger:#ff3860;
$grey:rgba(34,36,38,.15);
$danger-dark:#9a0036;
$danger-light:#FFF5F7;






$fasc: 'Fascinate Inline', cursive;
$inco: 'Inconsolata', monospace;
$mono: 'Monoton', cursive;
$staa: 'Staatliches', cursive;


$bang: 'Bangers', cursive;
$comf: 'Comfortaa', cursive;
$ebg: 'EB Garamond', serif;
$lato: 'Lato', sans-serif;
$mont: 'Montserrat', sans-serif;
$rele: 'Raleway', sans-serif;
$rob: 'Roboto', sans-serif;
$src: 'Source Sans Pro', sans-serif;
$one: 'Seymour One', sans-serif;
$lex: 'Lexend Deca', sans-serif;
$pay: 'Paytone One', sans-serif;
$ald: 'Aldrich', sans-serif;
$athi: 'Athiti', sans-serif;
$car: 'Carrois Gothic SC', sans-serif;